@import "reset.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic-ext,latin-ext);
@import "font-awesome.css";
/*
	Default styles
 */
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
*:focus {
	outline: 0 !important;
}
.hide-sidebar{
	display: none;
}
.wrapper{
	overflow: hidden;
}
.wrapper-main-container{
	padding: 0;
}
body{
	background-color:#ebf1f1;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
}
.clear{
	clear: both;
}
h2{
	background-color:#e1ffff;
	font-size: 18px;
	font-weight: 700;
	padding: 13px 0 13px 30px;
	margin: 20px 0;
}
h1{
	padding: 20px 0 20px 30px;
	font-size: 25px;
	font-weight: 700;
}
h1.title{
	padding: 20px 0 0 30px;
}
label{
	float: right;
	text-align: right;
	font-size: 13px;
	font-weight: 700;
	line-height: 30px;
	cursor: pointer;
}
input[type="text"]{
	width: 100%;
	height: 30px;
	border:1px solid #e6e6e6;
	padding: 5px;
	border-radius: 4px;
	font-size: 13px;
}
input[type="text"]:focus, select:focus{
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 0 3px rgba(82, 168, 236, 0.6);
}
select{
	width: 100%;
	height: 30px;
	border:1px solid #e6e6e6;
	padding: 5px;
	border-radius: 4px;
	font-size: 13px
}
input[type="submit"]{
	font-size: 14px;
	font-weight: 700;
	color:#fff;
	background-color: #4ec422;
	padding: 13px 24px;
	border: 1px solid #43aa1d;
	border-radius: 4px;
	margin-right: 15px;
}
input[type="submit"]:hover{
	background-color: #57de26;
	border:1px solid #43ab1d;
}
input[type="reset"]{
	font-size: 14px;
	font-weight: 700;
	color:#646464;
	background-color: #f0f0f0;
	padding: 13px 24px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
}
input[type="reset"]:hover{
	background-color: #fafafa;
}
.lh{
	line-height: normal;
}
a, input[type="submit"], input[type="reset"],button{
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
input[type="submit"]:active, input[type="reset"]:active,button:active{
	-moz-box-shadow:    inset 0 0 4px 1px rgba(29,39,51,.3);
	-webkit-box-shadow: inset 0 0 4px 1px rgba(29,39,51,.3);
	box-shadow:         inset 0 0 4px 1px rgba(29,39,51,.3);
}

/*
	Header and Top Navigation
 */
nav.top .container-fluid{
	padding: 0;
}
nav.top .col-lg-13{
	padding-left: 0;
}
nav.navbar{
	margin:0;
	min-height: 70px;
	background-color: #1d2733;
	border: none;
	border-radius: 0;
}
nav.navbar .logo{
	display: block;
	line-height: 70px;
	text-decoration: none;
}
nav.navbar .logo img{
	border-radius: 6px;
	vertical-align: middle;
}
nav.navbar .logo span{
	font-size: 32px;
	color:#fff;
	vertical-align: middle;
	margin-left: 12px;
}
nav.navbar .logo small{
	vertical-align: middle;
	color:#32e6e5;
	margin-left: 5px;
	font-size: 17px;
}
.top-navbar li{
	text-indent: -99999px;
	width: 40px;
	height: 40px;
	border-radius: 6px;
	background-color: #000;
	background-image: url("../img/icons-section-sprite.png");
	background-repeat: no-repeat;
	margin-right: 15px;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.top-navbar li:hover{
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 1);
}
.top-navbar li a{
	display: block;
	width: 40px;
	height: 40px;
}
.top-navbar li.info:hover{
	background-color: #ff003c;
	
}
.top-navbar li.tv{
	background-position: 0 -40px;
}
.top-navbar li.tv:hover{
	background-color: #0088dc;
}
.top-navbar li.sanoclub{
	background-position: 0 -80px;
}
.top-navbar li.sanoclub:hover{
	background-color: #783cc8;
}
.top-navbar li.isan{
	background-position: 0 -120px;
}
.top-navbar li.isan:hover{
	background-color: #ffaa00;
}
.top-navbar li.imed{
	background-position: 0 -160px;
}
.top-navbar li.imed:hover{
	background-color: #28b4b4;
}
.top-navbar li.imec{
	background-position: 0 -200px;
}
.top-navbar li.imec:hover{
	background-color: #008787;
}
.top-navbar li.tuberculoza{
	background-position: 0 -240px;
}
.top-navbar li.tuberculoza:hover{
	background-color: #44c3ff;
}
.top-navbar li.spitale{
	background-position: 0 -280px;
}
.top-navbar li.spitale:hover{
	background-color: #00cc66;
}
.top-navbar li.pas{
	background-position: 0 -320px;
}
.top-navbar li.pas:hover{
	background-color: #009645;
}
.top-navbar li.scoala{
	background-position: 0 -360px;
}
.top-navbar li.scoala:hover{
	background-color: #ed2225;
}
.top-navbar li.donez{
	background-position: 0 -400px;
}
.top-navbar li.donez:hover{
	background-color: #f15a4d;
}
#top-nav .top-navbar{
	min-height: 70px;
	padding-top: 15px;
}
.profile-btn{
	height: 70px;
	line-height: 70px;
	color:#fff;
	padding: 0 10px;
}
.profile-btn a{
	margin: 0 10px;
	color:#fff;
	display: inline;
	text-decoration: none;
}
.profile-btn span{
	opacity: .3;
}
.profile-btn a:hover{
	border-bottom: 1px solid #fff;
	padding-bottom: 2px;
}
.profile-btn a:last-child{
	margin-right: 0;
}
.profile-btn a:first-child{
	margin-left: 0;
}
.profile-btn.btn-group{
	height: 70px;
	width: 130px;
}
.profile-btn.btn-group .btn{
	height: 70px;
	width: 130px;
	border-radius: 0;
	background-color: #1d2733;
	font:700 13px "Open Sans";
	color: #fff;
}
.profile-btn.btn-group.open .dropdown-toggle{
	background-color: #33485e;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.profile-btn.btn-group .btn:hover{
	background-color: #33485e;
	color:#fff;
}
.profile-btn.btn-group .dropdown-menu{
	margin-top: 0;
	border:1px solid #f0f0f0;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(58, 82, 107, 0.2);
	-moz-box-shadow:    0px 10px 20px 0px rgba(58, 82, 107, 0.2);
	box-shadow:         0px 10px 20px 0px rgba(58, 82, 107, 0.2);
	font-size: 13px;
}
.profile-btn.btn-group .dropdown-menu li a{
	display: block;
	color: #1c2733;
	text-decoration: none;
	border: none;
	font-size: 13px;
	padding: 5px 10px 5px 20px;
}
.profile-btn.btn-group .dropdown-menu li a:hover{
	color: #0059b2;
}
.profile-btn.btn-group .dropdown-menu li a i{
	margin-right: 10px;
	color: #000;
}


.left-sidebar{
	background-color:#3a526c;
	padding:30px 0 !important;
	border-bottom-right-radius: 10px;
}
.left-sidebar .left-navigation li{
	margin:6px 0;
}
.left-sidebar .left-navigation li a i{
	margin-left: 5px;
	color: rgba(255, 255, 255, 0.4);
}
.left-sidebar .left-navigation li a.close-menu i:before{
	content: "\f106";
}
.left-sidebar .left-navigation li a{
	display:block;
	padding:10px 0 10px 35px;
	font-weight: 700;
	font-size: 13px;
	text-decoration: none;
	color: #fff;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.left-sidebar .left-navigation li a small{
	margin-left: 10px;
	font-size: 10px;
	font-weight: 400;
	background-color: #32e6e5;
	padding: 3px;
	display: inline-block;
	border-radius: 3px;
	color: #33475f;
}
.left-sidebar .left-navigation li a:hover{
	background-color: #33475f;
	color: #32e6e6;
}
.left-sidebar .left-navigation li a span{
	margin: 0 10px 0 0;
	background: none;
	color:#fff;
	font-size: 14px;
}
.left-sidebar .left-navigation li a:hover span{
	color: #32e6e6;
}
.left-sidebar .left-navigation li a:hover i{
	color: #32e6e6;
}
.left-sidebar .left-navigation li.active a{
	background-color:#32e6e5;
	color: #000;
}
.left-sidebar .left-navigation li.active a i{
	color: #000;
}
.left-sidebar .back{
	display: inline-block;
	margin-left: 35px;
	margin-top: 60px;
	border: 2px solid #32e6e6;
	border-radius: 6px;
	color: #32e6e6;
	text-decoration: none;
	padding: 12px 30px;
	font-size: 15px;
}
.left-sidebar .back:hover{
	background-color: rgba(50,230,230,.15);
}
.left-sidebar .back:active{
	-moz-box-shadow:    inset 0 0 5px 2px rgba(29,39,51,.5);
	-webkit-box-shadow: inset 0 0 5px 2px rgba(29,39,51,.5);
	box-shadow:         inset 0 0 5px 2px rgba(29,39,51,.5);
	background-color: rgba(50,230,230,.20);
}

.left-sidebar .left-navigation .collapse li a{
	background: none;
	color: #fff;
	padding:7px 0px 7px 45px;
	font: 400 13px "Open Sans";
}
.left-sidebar .left-navigation .collapse li{
	margin: 5px 0;
}
.left-sidebar .left-navigation .collapse li a i{
	margin-right: 10px;
	color: rgba(255, 255, 255, 0.4)
}
.left-sidebar .left-navigation .collapse li.active a{
	background-color:#32e6e5;
	color: #000;
}
.left-sidebar .left-navigation .collapse li.active a:hover{
	background-color:#32e6e5;
	color: #000;
}
.left-sidebar .left-navigation .collapse li.active a:hover i{
	color: #000;
	background: none;
}
.left-sidebar .left-navigation .collapse li.active a i{
	color: #000;
}
.left-sidebar .left-navigation .collapse li a:hover, .left-sidebar .left-navigation .collapse li a:hover i{
	background-color: #33475f;
	color: #32e6e6;
}

.wrapper-container{
	background-color:#ebf1f1;
}
.main-container{
	background-color:#fff;
	margin-top:30px;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(58, 82, 107, 0.2);
	-moz-box-shadow:    1px 1px 3px 0px rgba(58, 82, 107, 0.2);
	box-shadow:         1px 1px 3px 0px rgba(58, 82, 107, 0.2);
}
.main-container form{
	margin: 20px 0;
}
.footer{
	margin: 30px 0;
}
.footer .footer-nav ul li{
	float: left;
	margin-right: 40px;
}
.footer .footer-nav ul li a{
	color: #0080ff;
	font-size: 13px;
	text-decoration: none;
}
.footer .footer-nav ul li a:hover{
	color: #0059b2;
	border-bottom: 1px solid #0059b2;
	padding-bottom: 1px;
}
.footer .copyright{
	margin-top: 25px;
}
.footer .copyright .dropup{
	float: left;
	margin-right: 70px;
	}
.footer .copyright .dropup .btn{
	padding: 0;
}
.footer .copyright .dropup.open .dropdown-toggle{
	box-shadow: none;
}
.footer .copyright .dropdown-menu{
	min-width: initial;
	left: -17%;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(58, 82, 107, 0.2);
	-moz-box-shadow:    0px 10px 20px 0px rgba(58, 82, 107, 0.2);
	box-shadow:         0px 10px 20px 0px rgba(58, 82, 107, 0.2);
	border: 1px solid #e6e6e6;
}
.footer .copyright .dropdown-menu li a{
	font-size: 13px;
	color:#0080ff;
	
}
.footer .copyright .dropdown-menu li:hover{
	background-color: #f5f5f5;
}
.footer .copyright .dropup .btn{
	margin-right: 3px;
	font-size: 13px;
	color: #0080ff;
	padding-bottom: 2px;
	border-bottom: 1px dashed #0080ff;
	text-decoration: none;
	background: none;
	border-radius: 0;
}
.footer .copyright .lang:hover{
	color:#0059b2;
}
.footer .copyright p{
	color: #999;
	font-size: 13px;
	float: left;
	line-height: 20px;
}
.footer .socials{
	float: right;
}
.footer .socials li{
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 10px;
}
.footer .socials li a:hover{
	opacity: 1;
}
.footer .socials li:last-child{
	margin-right: 0;
}
.footer .socials li a{
	display: block;
	width: 24px;
	height: 24px;
	opacity: .5;
	background-image: url("../img/social-icons-sprite.png");
}
.footer .socials li.twitter a{
	background-position: -24px 0;
}
.footer .socials li.linkedin a{
	background-position: -48px 0;
}
.footer .socials li.youtube a{
	background-position: -72px 0;
}
.footer .socials li.rss a{
	background-position: -96px 0;
}
.main-container form .container-fluid .row{
	margin-bottom: 10px;
}
.main-container form .container-fluid .row:last-child{
	margin-bottom: 0;
}

/**
 * Page 2 styles
 */

/**
 * START Search section form
 */

a.hide-form{
	color:#0080ff;
	font-size: 13px;
	font-weight: 400;
	border-bottom: 1px dashed #0080ff;
	padding-bottom: 2px;
	margin-left: 20px;
	vertical-align: middle;
	text-decoration: none;
}
a.hide-form:hover{
	color:#0059b2;
	text-decoration: none;
}
.search-form{
	background-color: #ffffbb;
	padding-top: 15px;
}
.search-form .buttons-panel{
	padding: 10px 30px;
	background-color: #ffff89;
}
.search-form .buttons-panel input[type="submit"], .search-form .buttons-panel input[type="reset"]{
	padding: 7px 24px;
}
.main-container .search-form label{
	float: none;
	text-align: left;
	padding-left: 0;
	color: #1c2733;
	font-weight: 400;
	line-height: 30px;
}
.main-container .search-form form{
	margin: 0;
}
.main-container .search-form .col-lg-2{
	padding-right: 0;
}
.main-container form .radio input[type="radio"]{
	margin: 0;
	margin-right: 10px;
	position: static;
}
.main-container form .radio label{
	margin-right: 20px;
}

/**
 * END Search section form
 */

/**
 * START Search results
 */
.search-result{
	margin-top: 40px;
}
.search-result span{
	font-size: 13px;
	font-weight: 400;
	vertical-align: middle;
	margin-left: 20px;
}
.search-result .control-panel{
	padding: 10px 30px;
	background-color: #3a526c;
}
.search-result .control-panel button{
	border-radius: 4px;
	padding: 8px 25px;
	font-size: 13px;
	color:#fff;
}
.search-result .control-panel button.blue{
	background-color: #547599;
	border: 1px solid #1c2733;
}
.search-result .control-panel button.blue:hover{
	background-color: #709dcc;
}

.search-result .control-panel button.green{
	background-color: #4dc421;
	border: 1px solid #43791d;
}
.search-result .control-panel button.green:hover{
	background-color: #57de26;
}

.search-result .control-panel button:last-child{
	float: right;
	margin-right: 0;
}
.search-result table{
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
}
.search-result table th{
	padding: 15px 10px;
	background-color: #e6e6e6;
	color:#666666;
		-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.search-result table th:hover{
	background-color: #f0f0f0;
}
.search-result table th:first-child, .search-result table td:first-child{
	text-align: center;
}
.search-result table td{
	border:1px solid #f0f0f0;
	padding: 15px 10px;
	color:#1c2733;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.search-result table tr:nth-child(odd){
	background-color: #fafafa;
}
.search-result table tr:hover > td{
	background-color: #f5f5f5;
}
.search-result table td a{
	text-decoration: none;
	display: inline-block;
	padding-bottom: 2px;
	border-bottom: 1px solid transparent;
}
.search-result table td a:hover{
	border-bottom: 1px solid #0080ff;
}




/**
 * END Search results
 */

/**
 * Mobile optimization
 */

@media (max-width:767px){
	nav.top .col-lg-13{
	padding-left: 30px;
	}
	.top-navbar li{
		text-indent: 0;
		width: auto;
		padding-left: 80px;
		padding-top: 20px;
		border-radius: 0;
		margin-top: 5px;
		margin-right: 0;
	}
	.top-navbar li a{
		width: auto;
		color:#fff !important;
	}
	.icons.navbar-toggle{
		position: absolute;
		top:-60px;
		right:50px;
	}
	.profile-btn.btn-group{
		position: absolute;
		top:-52px;
		right: 20px;
		width: 44px;
		height: 34px;
		color:#000;
	}
	.profile-btn.btn-group .btn{
		width: 44px;
		height: 34px;
		text-indent: -999999px;
		background-color: #33485e;
		background-image: url("../img/profile.png");
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 4px;
	}
	.profile-btn .dropdown-menu:before {
	position: absolute;
	top: -7px;
	right: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.profile-btn .dropdown-menu:after {
	position: absolute;
	top: -6px;
	right: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid transparent;
	content: '';
}
.profile-btn.btn-group .dropdown-menu{
	margin-top: 10px;
	right: -6px;
}
.top-navbar li{
	padding-top: 0;
	padding-left: 50px;
	background-position-x: 10px !important;
}
#top-nav .top-navbar{
	padding-bottom: 15px;
	padding-top: 0;
}
#top-nav{
	border: none !important;
	box-shadow: none !important
}
.sidebar-btn{
	top:-60px;
	left: -20px;
	position: absolute;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
.left-sidebar{
	margin: 0;
}
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -70%;

  }

  .row-offcanvas-left.active {
    left: 70%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .wrapper-container{
  	padding: 0;
  }
  .wrapper-main-container{
  	padding: 0;
  }
  .main-container{
  	margin-top: 0;
  	border-radius: 0;
  }
}

@media only screen and (min-width : 768px) and (max-width : 980px) and (orientation : portrait) {
	.left-sidebar .left-navigation li a{
		padding-left: 15px;
	}
	.left-sidebar .left-navigation .collapse li a{
		padding-left: 25px;
	}
	.left-sidebar .back{
		margin-left: 15px;
	}
}

@media (max-width: 990px) {
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in{
    	display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    }
    .icons.navbar-toggle{
		position: absolute;
		top:-60px;
		left:250px;
	}
	.profile-btn.btn-group{
		position: absolute;
		top:-70px;
		right: 20px;
	}

.sidebar-btn{
	top:-60px;
	left: -20px;
	position: absolute;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
.left-sidebar{
	margin: 0;
}
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -40%;

  }

  .row-offcanvas-left.active {
    left: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
  }
}



